body {
    font-family: 'Arial', sans-serif;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: hsl(0, 0%, 0%);
    margin: 0;
    padding: 20px;
    position: relative; /* เพิ่ม position relative ให้กับ body */
}

.word {
    position: absolute;
    top: 164px;
    right: 32px;
    width: 16%;
    height: 26.8%;
    background-image: url(http://itp1.itopfile.com/ImageServer/z_itp_06082024w24c/0/0/wordz-z1262704703058.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate(20deg);
}

.url {
    position: absolute;
    top: 76px;
    left: -14px;
    width: 18%;
    height: 26.8%;
    background-image: url(http://itp1.itopfile.com/ImageServer/z_itp_17052024n9ha/0/0/6785664z-z304950343034.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate(339deg);
}

.pdf {
    position: absolute;
    top: 446px;
    left: 51px;
    width: 17%;
    height: 26.8%;
    background-image: url(http://itp1.itopfile.com/ImageServer/z_itp_17052024n9ha/0/0/10007105z-z883991485213.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate(19deg);
}

.image {
    position: absolute;
    top: 518px;
    right: 59px;
    width: 17%;
    height: 26.8%;
    background-image: url(http://itp1.itopfile.com/ImageServer/z_itp_17052024n9ha/0/0/4154374z-z852528898861.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate(332deg);
}
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
}

form {
    background: #a7adf917;
    border-radius: 8px;
    box-shadow: 4px 8px 86px rgb(157 0 255 / 37%);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #efefef;
    font-size: 26px;
}

input::placeholder {
    color: white;
}

input[type="text"],
input[type="file"],
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2a93ff;
    border-radius: 8px;
    transition: border-color 0.3s;
    background: #00004612;
    color: white;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #3498db;
    outline: none;
}

label {
    padding-top: 36px;
}

.button-submit {
    text-align: center;
    padding-top: 21px;
}

button {
    background: #0f0c29;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    margin: 0px 0px 0px 10px;
    transition: 1.10s;
    width: 15%;
}

button:hover {
    transform: scale(1.02);  
    background-color: black; /* เปลี่ยนสีพื้นหลังเป็นสีดำ */
    color: white;           /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
    box-shadow: 0 4px 15px rgba(0, 191, 255, 0.498); /* เงาสีฟ้า */
    background: linear-gradient(90deg, #000000, #000000);
    color: #ffffff;
}